<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/Error.js"></script>
    <link rel="stylesheet" href="~/css/HomeCss/Error.css" />
    <title>404 - page not found</title>
</head>
<body>

    <div class="notfound">
        <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;</div>
        <div class="centered"><span class="inverted">&nbsp;4&nbsp;0&nbsp;4&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered"><span class="inverted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="shadow">&nbsp;</span></div>
        <div class="centered">&nbsp;<span class="shadow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        <div class="row">&nbsp;</div>
        <div class="row">Si è verificata un'eccezione irreversibile 404 in <br /> C0DE:ABAD1DEA in 0xC0DEBA5E.</div>
        <div class="row">La pagina non è stata trovata o non esite.</div> <br />
        <div class="row">&nbsp;</div>
        <div class="row">* Torna indietro o clicca <a href="/Corso/HomeTerzo">QUI</a> per tornare alla Home.</div> <br />
        <div class="centered">In attesa...<span class="blink">&#9608;</span></div>
    </div>

</body>
</html>