<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - WiWin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Contatti.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <img src="~/Logo.jpg" width="80" height="80" />
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a href="/Corso/HomeTerzo" class="nav-item nav-link">Home</a>
                <a href="/Corso/ContattiTerzo" class="nav-item nav-link">Contatti</a>
            </div>

            <div class="navbar-nav action-buttons ml-auto">
                <a href="/Login/Index" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>
    <!--Sezione Chi siamo -->
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Chi siamo</h2>
                        <p class="aboutus-text">

                            WiWin è una società formata da un gruppo di esperti che opera nel settore informatico con esperienza ultratrentennale (dal 1991). Prima azienda della regione Lazio a fornire software vaccinali per la gestione dei dati dei residenti, incarico che attualmente continua a esercitare in 6 ASL regionali coprenti la maggior parte del territorio,
                            nel corso dei tanti anni di attività ha collaborato alla fornitura software e hardware con una vasta gamma di clientela in ogni settore, da aziende pubbliche quali ASL, ospedali e tribunali, a società private quali cliniche, supermercati, mense e tanto altro, fino a progettare soluzioni e fornire consulenza su richiesta anche per il singolo cliente.
                            
                        </p>
                        <p class="aboutus-text">Tali esperienze consentono alla WiWin di posizionarsi tra i leader nel mercato nazionale in ambito progettazione software di ogni tipologia.</p>
                       @* <a class="aboutus-more" href="#">read more</a>*@
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="~/Logo.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                  
                                </div>
                                <div class="feature-content">
                                    <h4>La nostra Mission</h4>
                                    <p>Mettere le nuove tecnologie al servizio degli obiettivi di business aziendali</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                  
                                </div>
                                <div class="feature-content">
                                    <h4>La nostra Vision</h4>
                                    <p>Continua innovazione delle soluzioni informatiche nelle aziende. (Le aziende al passo con le più innovative e più efficaci soluzioni informatiche)</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                             
                                </div>
                                <div class="feature-content">
                                    <h4>Grande Supporto</h4>
                                    <p>Il valore della tecnologia nasce dalle persone, dalla loro passione per il lavoro e dal gioco di squadra.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2>Dove ci troviamo</h2>

    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.857746736728!2d9.22792412093041!3d45.49280928250931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c70275b4a63b%3A0xf0529865adacb7ca!2sVia%20Tolmezzo%2C%2020132%20Milano%20MI!5e0!3m2!1sit!2sit!4v1665136714336!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

   





    <!-- footer -->
    <footer class="text-center text-white">
        <!-- container -->
        <div class="container-footer">

            <hr class="mb-5" />

            <!-- testo footer -->
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h6>I nostri Contatti</h6>
                        <p>
                            Responsabile della protezione dei dati personali (DPO-Regolamento Europeo 679/2016 Sezione 4 – artt. 37 – 39):<br />

                            Contatti per info sulle nostre soluzioni:<br />

                            mail: wiwin.sbo@doos.eu<br />

                            Tel: 081 2413650<br />
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <!-- copyright -->
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright -
            <a class="text-white" href="#">WiWin</a>
        </div>
    </footer>
</body>
</html>   